h1{
    font-weight: 700;
}
.btn{
    font-weight: 300;
}

td{
    font-weight: 300;
}

.search{
    width:70%;
margin: 10px auto 0;
}

@media (min-width: 768px) {
    .addsearch{
        display: flex;
        flex-direction: row;
         justify-content: space-between;
    }

    .search{
        width:20rem;
        margin:0 ;
    }
  }